<mat-toolbar> TattooShop </mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <div [hidden]="authenticated()">
        <a routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
      </div>
        <div [hidden]="!authenticated()">
          <button mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            Se déconnecter
          </button> </div>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/tatoueur">
          Tatoueurs
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/client">
          Clients
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

    Bienvenue !
    <div [hidden]="!authenticated()">
      <p>Vous êtes connecté.e</p>
    </div>

    <router-outlet></router-outlet>


</mat-sidenav-container>
